<!-- LIST MODE -->
<div ng-controller="sfImageSelectorListCtrl" ng-show="activeMode.name === 'list'">
    <div class="row">
        <div class="col-md-8">
            
            <!-- LIST UPLOAD MODE -->
            <div ng-hide="listFilter" class="text-center">
                <button type="button" class="btn btn-link" ng-click="selectFile()">
                    Select image from your computer
                </button>
                <br />
                <small>or simply drag &amp; drop it here</small>
            </div>

            <!-- LIST LIST MODE -->
            <div ng-show="listFilter" sf-infinite-scroll="loadMoreItems()" style="height:300px;">
                <ul class="sf-image-selector-thumbails">
                    <li ng-repeat="listItem in listItems">
                        <a href="" ng-click="select(listItem)">
                            <img height="71" ng-src="{{ listItem.ThumbnailUrl }}" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = null">
                        Upload image
                    </button>
                </li>
                <li>
                    <strong>Already uploaded images</strong>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'recent'">
                        Recent images
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'mine'">
                        My images
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'all'">
                        All libraries
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- UPLOAD MODE -->
<div ng-controller="sfImageSelectorUploadCtrl" ng-show="activeMode.name === 'upload' || activeMode.name === 'uploading'">
    <form role="form" ng-show="activeMode.name === 'upload'">
        <div class="form-group">
            <label for="fileName">Image to upload</label>
            <div id="fileName">
                {{ file.name }}
            </div>
        </div>
    </form>
    <div ng-show="activeMode.name === 'uploading'">
        <progressbar class="progress-striped active" value="completedPercent" type="success"></progressbar>
    </div>
</div>

<!-- INSERT MODE -->
<div ng-controller="sfImageSelectorInsertCtrl" ng-show="activeMode.name === 'insert'">
    
    <img ng-src="{{ image.ThumbnailUrl }}" />

    <label for="imageType">Type:</label>
    <span id="imageType">{{ image.Extension }}</span>

    <label for="imageSize">File size:</label>
    <span id="imageSize">{{ image.TotalSize }} kb</span>

    <label for="uploadDate">Uploaded:</label>
    <span id="uploadDate">{{ image.DateCreated | fromWcfDate | smartDateString }}</span>

    <form role="form">
        
        <div class="form-group">
            <label for="imageTitle">Title</label>
            <input id="imageTitle" type="text" ng-model="image.Title" class="form-control" />
            <span class="help-block">Less than 35 characters are recommended</span>
        </div>

        <div class="form-group">
            <label for="alternativeText">Alternative text</label>
            <input id="alternativeText" type="text" ng-model="image.AlternativeText" class="form-control" />
            <span class="help-block">Less than 35 characters are recommended</span>
        </div>

        <div class="form-group">
            <label for="imageAlignment">Alignment</label>
            
            <label class="radio-inline">
                <input type="radio" name="imageAlignment" ng-model="insertOptions.alignment" value="none"> None
            </label>
            <label class="radio-inline">
                <input type="radio" name="imageAlignment" ng-model="insertOptions.alignment" value="left"> Left
            </label>
            <label class="radio-inline">
                <input type="radio" name="imageAlignment" ng-model="insertOptions.alignment" value="center"> Center
            </label>
            <label class="radio-inline">
                <input type="radio" name="imageAlignment" ng-model="insertOptions.alignment" value="right"> Right
            </label>
        </div>

    </form>


</div>

<!--
    Uploader is not part of any of the modes as different modes use it, so in a way
    think of it as a shared component between the modes.
-->
<input id="fileUpload" type="file" sf-image-selector-uploader style="display:none;" />