<!-- LIST MODE -->
<div ng-controller="sfImageSelectorListCtrl" ng-show="activeMode.name === 'list'">
    <div class="row">
        <div class="col-md-8">
            
            <!-- UPLOAD MODE -->
            <div ng-hide="listFilter" class="text-center">
                <button type="button" class="btn btn-link" ng-click="selectFile()">
                    Select image from your computer
                </button>
                <br />
                <small>or simply drag &amp; drop it here</small>
            </div>

            <!-- LIST MODE -->
            <div ng-show="listFilter">
                List mode...
            </div>

        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = null">
                        Upload image
                    </button>
                </li>
                <li>
                    <strong>Already uploaded images</strong>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'recent-images'">
                        Recent images
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'my-images'">
                        My images
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" ng-click="listFilter = 'all-images'">
                        All images
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- UPLOAD MODE -->
<div ng-controller="sfImageSelectorUploadCtrl" ng-show="activeMode.name === 'upload' || activeMode.name === 'uploading'">
    <form role="form" ng-show="activeMode.name === 'upload'">
        <div class="form-group">
            <label for="fileName">Image to upload</label>
            <div id="fileName">
                {{ file.name }}
            </div>
        </div>
    </form>
    <div ng-show="activeMode.name === 'uploading'">
        <progressbar class="progress-striped active" value="completedPercent" type="success"></progressbar>
    </div>
</div>

<!-- INSERT MODE -->
<div ng-controller="sfImageSelectorInsertCtrl" ng-show="activeMode.name === 'insert'">
    
    <img ng-src="{{ image.ThumbnailUrl }}" />

</div>

<!--
    Uploader is not part of any of the modes as different modes use it, so in a way
    think of it as a shared component between the modes.
-->
<input id="fileUpload" type="file" sf-image-selector-uploader style="display:none;" />