<div class="modal-header">
    <h3 class="modal-title">{{ mode.title }}</h3>
</div>
<div class="modal-body">
    <sf-image-selector></sf-image-selector>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary pull-left" ng-show="mode.okButton" ng-click="command(mode.okButton.raise)">{{ mode.okButton.title }}</button>
    <button type="button" class="btn btn-link pull-left" ng-show="mode.cancelButton" ng-click="command(mode.cancelButton.raise)">{{ mode.cancelButton.title }}</button>
</div>